<html>
  <body>
  <!-- banner start here   -->
  <div class="outer-div-navbar">
    <div class="inner-navbar">
      <ul>
        <%= link_to "Introduction", "underconstrution", class: "inbetween" %>
        <%= link_to "About Me", "underconstrution", class: "inbetween" %>
        <%= link_to "Blog", "underconstrution", class: "inbetween" %>
        <%= link_to "My Interests", "underconstrution", class: "inbetween" %>
        <%= link_to "Contact Me", "underconstrution", class: "inbetween" %>
      </ul>
       <hr class="top">
    </div>
  </div>


  <div class="banner" style="background-image: linear-gradient(360deg, rgba(0,0,0,0.1), rgba(0,0,0,0.3)), url('https://res.cloudinary.com/desmpz4mv/image/upload/v1522180720/572066.jpg');">
    <div class="banner-content">
      <h1>Connor Ingold<br>
      Full Stack Web Dev</h1>
      <h3 class="light-font"> Skill Set:
        <span id="hello"></span>
      </h3>
      <%= javascript_pack_tag 'application' %>

      <div class="moblie-responsive">
        <%= link_to "About My Logical Side", "underconstrution", class: "btn-medium-black" %>
        <%= link_to "About My Creative Side", "underconstrution", class: "btn-medium-purple" %>
      </div>

    </div>
  </div>
  <!-- banner ends here -->
    <footer>
    </footer>
  </body>
</html>


