<html>
  <body>
  <!-- banner start here   -->
  <div class="outer-div-navbar">
    <div class="inner-navbar">
      <ul>
        <%= link_to "Introduction", "underconstrution", class: "inbetween" %>
        <%= link_to "About Me", "underconstrution", class: "inbetween" %>
        <%= link_to "Blog", "underconstrution", class: "inbetween" %>
        <%= link_to "My Interests", "underconstrution", class: "inbetween" %>
        <%= link_to "Contact Me", "underconstrution", class: "inbetween" %>
      </ul>
       <hr class="top">
    </div>
  </div>


  <div class="banner" style="background-image: linear-gradient(360deg, rgba(0,0,0,0.1), rgba(0,0,0,0.3)), url('https://res.cloudinary.com/desmpz4mv/image/upload/v1522180720/572066.jpg');">
    <div class="banner-content">
      <h1>Connor Ingold<br>
      Full Stack Web Dev</h1>
      <h3 class="light-font"> Skill Set:
        <span id="hello"></span>
      </h3>
      <%= javascript_pack_tag 'application' %>
      <div class="wrapper">
        <p class="about-me">Full stack web developer with a passion for elegant designs and a hunger to better then last time.</p>
      </div>
      <div class="moblie-responsive">
        <%= link_to "Learn more about me", "underconstrution", class: "btn-medium-purple" %>
      </div>
    </div>
  </div>

  <div class="banner2" style="background-image: url('https://res.cloudinary.com/desmpz4mv/image/upload/v1522405316/balcandwhite.jpg');">
    <div class="banner-content2">
      <h1 class="second-heading"><b class="quotation">"</b>A journey of a thousand miles<br>begins with a single step<b class="quotation">"</b></h1>
      <p class="about-me2"> By the Chinese philosopher Laozi</p>
      <p class="about-me3">I often find people who spout such quotes quite pretentious.
      However I went through hell these past 3 months and I generally feel as I have walked a 1000 miles in terms of self-development. If your interested in reading what I went through go check out my blog (coming soon)</p>
    </div>
  </div>
  <!-- banner ends here -->
    <footer>
     <!-- <a href="#" class="test"><span></span> Back To Top</a> -->
    </footer>
  </body>
</html>


