  <body>
  <!-- banner start here   -->



  <div id="particles-js">
    <div class="banner-content1">
      <div class="actual-content-outer-div">
          <h1 class="name1">Connor Ingold<br>
          Full Stack Web Dev</h1>
                  <h3 class="light-font"> Skill Set:
            <span id="hello"></span>
          </h3>
          <%= javascript_pack_tag 'application' %>
          <div class="moblie-responsive">
            <%= link_to "Learn more about me", "underconstrution", class: "btn-medium-purple" %>
          </div>
          </div>
      </div>
    </div>
  </div>

    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

    <script src="particles.js"></script>
  <div class="outer-div-navbar">
    <div class="inner-navbar">
      <ul>
        <%= link_to "Introduction", "underconstrution", class: "inbetween" %>
        <%= link_to "About Me", "underconstrution", class: "inbetween" %>
        <%= link_to "Blog", "underconstrution", class: "inbetween" %>
        <%= link_to "My Interests", "underconstrution", class: "inbetween" %>
        <%= link_to "Contact Me", "underconstrution", class: "inbetween" %>
      </ul>
       <hr class="top">
    </div>
  </div>

  <div class="banner2" style="background-image: url('https://res.cloudinary.com/desmpz4mv/image/upload/v1522405316/balcandwhite.jpg');">
    <div class="banner-content2">
      <h1 class="second-heading"><b class="quotation">"</b>A journey of a thousand miles<br>begins with a single step<b class="quotation">"</b></h1>
      <p class="about-me2"> By the Chinese philosopher Laozi</p>
      <p class="about-me3">I often find people who spout such quotes quite pretentious.
      However, I went through hell these past 3 months and I generally feel as I have walked a 1000 miles in terms of self-development. If you're interested in reading what I went through go check out my blog (coming soon)</p>
    </div>
  </div>




  <!-- banner ends here -->
        <!-- Footer -->
    <footer class="footer text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Location</h4>
            <p class="lead mb-0">Whitchapel, London &amp;

              <br>Northampton, Northamptonshire</p>
              <p class="lead mb-0">(I can work in either location)</p>
          </div>
          <div class="col-md-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Check Me Out </h4>
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://github.com/killercarwash">
                  <i class="fa fa-fw fa-github"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://uk.linkedin.com/in/connor-ingold-a39a27100">
                  <i class="fa fa-fw fa-linkedin"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://www.facebook.com/people/Connor-Ingold/100009881175197">
                  <i class="fa fa-fw fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://twitter.com/connoringold">
                  <i class="fa fa-fw fa-twitter"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <h4 class="text-uppercase mb-4">Contact Me</h4>
            <p class="lead mb-0"> If you like what you see and want to hire me or just want to talk in general please don't hesitate to <a href="mailto:connoringold@gmail.com?subject=Hi Connor I Would Like To Speak In Regards To&body=Hello Connor, %0D%0A %0D%0A %0D%0AKind Regards, %0D%0A %0D%0A{INSERT_NAME_HERE}" class="contact">send me an email</a>.</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>

