  <body>


  <!-- banner start here   -->
  <div id="particles-js">
    <div class="banner-content1">
      <div class="actual-content-outer-div">
          <h1 class="name1">Connor Ingold<br>
          Full Stack Web Dev</h1>
            <h3 class="light-font"> Skill Set:
            <span id="hello"></span>
          </h3>
          <%= javascript_pack_tag 'application' %>
          <div class="moblie-responsive">
            <%= link_to "Learn more about me", "underconstrution", class: "btn-medium" %>
          </div>
          </div>
      </div>
    </div>
  </div>

  <div class="outer-div-navbar">
    <div class="inner-navbar">
      <ul>
        <%= link_to "Introduction", "underconstrution", class: "inbetween" %>
        <%= link_to "About Me", "underconstrution", class: "inbetween" %>
        <%= link_to "Blog", "underconstrution", class: "inbetween" %>
        <%= link_to "My Interests", "underconstrution", class: "inbetween" %>
        <%= link_to "Contact Me", "underconstrution", class: "inbetween" %>
      </ul>
       <hr class="top">
    </div>
  </div>


  <div class="banner2" style="background-image: url('https://res.cloudinary.com/desmpz4mv/image/upload/v1522405316/balcandwhite.jpg');">
    <div class="banner-content2">
      <h1 class="second-heading"><b class="quotation">"</b>A journey of a thousand miles<br>begins with a single step<b class="quotation">"</b></h1>
      <p class="about-me2"> By the Chinese philosopher Laozi</p>
      <p class="about-me3">I often find people who spout such quotes quite pretentious.
      However, I went through hell these past 3 months and I generally feel as I have walked a 1000 miles in terms of self-development. If you're interested in reading what I went through go check out my blog (coming soon)</p>
    </div>
  </div>

  <!-- banner2 ends here -->

  <!-- banner3 starts here -->

  <div class="banner3">
    <div class="banner-content3">
      <div class="card-photshop">
        <div class="photo-title">
          <img src="https://res.cloudinary.com/desmpz4mv/image/upload/v1523194459/Background.png" alt="photoshop logo" style="width:100px; height: 100px;">
          <h2 class="inner-title">Photoshop</h2>
        </div>
          <hr>
          <div class="short-description">
            <p>Using my imagination and my mastery of photoshop I made this background.
              Just one of many creative things I enjoy making.</p>
          </div>
      </div>

      <div class="card-photshop">
        <div class="photo-title">
          <img src="https://cdn-images-1.medium.com/max/300/1*-oIlwIWlt0BDN4b5a9rRCQ.png" alt="photoshop logo" style="width:100px; height: 100px;">
          <h2 class="inner-title">Rails</h2>
        </div>
          <hr>
          <div class="short-description">
            <p>I could of made this whole website just using html,
              css and javascript but wheres the fun in that ?
              Ruby and RoR are amazing and I love working with them.</p>
          </div>
      </div>

      <div class="card-photshop">
        <div class="photo-title">
          <img src="https://res.cloudinary.com/desmpz4mv/image/upload/v1523194928/logo-square-heroku.png" alt="photoshop logo" style="width:100px; height: 100px;">
          <h2 class="inner-title">Heroku</h2>
        </div>
          <hr>
          <div class="short-description">
            <p>I have a love-hate relationship with heroku. I find it easy to get my site up and running but its an
            absolute nightmare for any kind of bug.</p>
          </div>
      </div>

      <div class="card-photshop">
        <div class="photo-title">
          <img src="https://res.cloudinary.com/desmpz4mv/image/upload/v1523195047/Octocat.png" alt="photoshop logo" style="width:100px; height: 100px;">
          <h2 class="inner-title">Github</h2>
        </div>
          <hr>
          <div class="short-description">
            <p>Spent 3 weeks on my course making pull requests and dealing with conflict after conflict.
            So you can I know git pretty well.</p>
          </div>
      </div>

      <div class="card-photshop">
        <div class="photo-title">
          <img src="https://res.cloudinary.com/desmpz4mv/image/upload/v1523195297/bookstrap.png" alt="photoshop logo" style="width:100px; height: 100px;">
          <h2 class="inner-title">bootstrap</h2>
        </div>
          <hr>
          <div class="short-description">
            <p>I mainly use and prefer flexboxes but I can use bootstrap if needed for example check the footer
            for this page.</p>
          </div>
      </div>

      <div class="card-photshop">
        <div class="photo-title">
          <img src="https://res.cloudinary.com/desmpz4mv/image/upload/v1523195707/comminication.png" alt="photoshop logo" style="width:100px; height: 100px;">
          <h2 class="inner-title">Sociability</h2>
        </div>
          <hr>
          <div class="short-description">
            <p>I bet you weren't expecting this. I could have put HTML/CSS but that's obvious. Anyway, sociability is an
            important skill to have for collaboration and I like to think im a fairly sociable guy.</p>
          </div>
      </div>
    </div>
  </div>

  <!-- banner3 end here -->



        <!-- Footer -->
    <footer class="footer text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Location</h4>
            <p class="lead mb-0">Whitchapel, London &amp;
              <br>Northampton, Northamptonshire</p>
              <p class="lead mb-0">(I can work in either location)</p>
          </div>
          <div class="col-md-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Check Me Out </h4>
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://github.com/killercarwash">
                  <i class="fa fa-fw fa-github"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://uk.linkedin.com/in/connor-ingold-a39a27100">
                  <i class="fa fa-fw fa-linkedin"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://www.facebook.com/people/Connor-Ingold/100009881175197">
                  <i class="fa fa-fw fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://twitter.com/connoringold">
                  <i class="fa fa-fw fa-twitter"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <h4 class="text-uppercase mb-4">Contact Me</h4>
            <p class="lead mb-0"> If you like what you see and want to hire me or just want to talk in general please don't hesitate to <a href="mailto:connoringold@gmail.com?subject=Hi Connor I Would Like To Speak In Regards To&body=Hello Connor, %0D%0A %0D%0A %0D%0AKind Regards, %0D%0A %0D%0A{INSERT_NAME_HERE}" class="contact">send me an email</a>.</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
